/* 改变主题色变量 */
$--color-primary: #FF4D4F !default;
$--color-success: #FFA940 !default;
$--color-warning: #FFD666 !default;
$--color-danger: #FF4D4F !default;
$--color-info: #FFA940 !default;
/* 改变 icon 字体路径变量，必需 */
$--font-path: '~element-ui/lib/theme-chalk/fonts';
@import "~element-ui/packages/theme-chalk/src/index";